*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    width: 100%;
}

html{
    background-color: #1f1e1e;
    color: rgb(227, 225, 225);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}